.navbar{
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 200;
    width: 90%;
    max-width: 1000px;
    transform: translate(-50%,-50%);
    border-radius: 50px;
}
.navbar .logo{
    cursor: pointer;
}
.navbar .logo svg{
    width: 30px;
    height: 30px
}
.navbar .sidebar__middle{
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}
.navbar .tab{
    padding: 8px;
    font-size:18px;
    font-weight:500;
}
.navbar .buttons__wrapper{
    gap: 20px;
}
.navbar .hire__btn{
    overflow: hidden;
    position: relative;
    padding-right: 3.3rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1.6rem -0.6rem var(--color-ui-2);
}
.navbar .hire__btn .icon {
    background: var(--color-primary);
    color: var(--color-white);
    margin-left: 1rem;
    height: 2.2em;
    width: 2.2rem;
    border-radius: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.6rem var(--color-ui-2);
    position: absolute;
    right: 0.3rem;
    transition: var(--transition);
}
.navbar .hire__btn:hover .icon {
    width: calc(100% - 0.6rem);
}
.nav .menu, 
.navbar .close__btn{
    font-size: 25px;
    cursor: pointer;
}